.pageStart {
  margin-top: 10px;
  display: flex;
  padding: 0px 10px 20px 10px;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .pageStart {
    margin-top: 0px;
    padding: 20px 40px 20px 40px;
  }
}
@media screen and (min-width: 1025px) {
  .pageStart {
    margin-top: 0px;
    padding: 20px 80px 5px 80px;
  }
}
.containerStartPage {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 10px 20px 10px;
  height: 100vh;
  width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .containerStartPage {
    padding: 20px 40px 40px 40px;
  }
}
@media screen and (min-width: 1025px) {
  .containerStartPage {
    padding: 15px 50px 15px 50px;
  }
}
.startContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  max-height: 600px;
  width: 100%;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .startContainer {
    margin-top: 10px;
    padding: 0px 0px 40px 0px;
  }
}
@media screen and (min-width: 1025px) {
  .startContainer {
    padding: 5px;
  }
}
.startQuiz {
  width: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 10px;
  min-width: 290px;
  font-weight: bolder;
  max-height: 600px;
  padding: 30px 20px;
  border: 1px solid var(--gold-color);
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.6),
    -8px -8px 16px rgba(255, 255, 255, 0.08);
  background: linear-gradient(185deg, #181a1d, #2e8894);
}
@media screen and (min-width: 768px) {
  .startQuiz::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .startQuiz::-webkit-scrollbar-thumb {
    background: #1aabae;
    border-radius: 10px;
  }

  .startQuiz::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
  }
}
@media (min-width: 375px) and (max-width: 767px) {
  .startQuiz {
    padding: 40px 20px 40px 20px;
    max-height: 580px;
    min-width: 350px;
    gap: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .startQuiz {
    max-width: 600px;
    padding: 20px 30px 5px 30px;
    border-radius: 20px;
  }
}
@media screen and (min-width: 1025px) {
  .startQuiz {
    max-width: 800px;
    padding: 20px;
    gap: 20px;
    border-radius: 20px;
  }
}
.titleWithLogo {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: center;
  flex-wrap: wrap;
}
.svgLayer {
  display: none;
}
@media screen and (min-width: 375px) {
  .svgLayer {
    display: block;
  }
}

.title {
  font-size: 18px;
  margin-top: 10px;
  font-weight: 900;
  background-image: var(--title-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (min-width: 768px) {
  .title {
    margin-top: 20px;
    font-weight: 600;
    font-size: 24px;
  }
}
@media screen and (min-width: 1025px) {
  .title {
    font-size: 32px;
    font-weight: 700;
  }
}

.rulesContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(450px, 100%), 1fr));
  row-gap: 0;
  width: 100%;
}

.playButton {
  width: 120px;
  height: 46px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  flex: none;
  order: 1;
  flex-grow: 0;
  border-radius: 200px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  white-space: nowrap;
  color: var(--gold-color);
  background: linear-gradient(180deg, var(--accent--color), var(--hover-color));
  border: 1px solid var(--gold-color);
  transition: background-color var(--transition), color var(--transition);
}

.playButton:hover,
.playButton:focus {
  border: 2px solid var(--hover-color);
  box-shadow: -15px 0 20px -5px rgba(76, 241, 241, 0.7),
    15px 0 20px -5px rgba(76, 241, 241, 0.7),
    0 15px 20px -5px rgba(76, 241, 241, 0.7);
  color: var(--accent-color);
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .playButton {
    width: 150px;
    height: 46px;
    display: flex;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    padding: 12px 40px;
    flex: none;
    order: 1;
    flex-grow: 0;
    font-size: 16px;
    line-height: 1.5;
  }
}
@media screen and (min-width: 1025px) {
  .playButton {
    width: 168px;
    display: flex;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    padding: 15px 60px;
    flex: none;
    order: 1;
    flex-grow: 0;
  }
}
