.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  border-bottom: 1px solid #00eeff;
  box-shadow: var(--box-shadow);
}

.brand {
  display: flex;
  gap: 15px;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 26px;
  font-weight: bold;
  font-family: cursive;
  color: #32dedf;
  text-shadow: 1px 1px 0 #121417, 2px 2px 0#32dedf, 3px 3px 0 #115e95,
    4px 4px 0 #121417, 5px 5px 0 #115e95, 6px 6px 0 #808080, 7px 7px 0 #dcd9d9,
    8px 8px 7px #4f4a4a;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo {
  width: 30px;
  height: 30px;
  transition: var(--transition);
}

.logo:hover,
.logo:focus {
  transform: scale(1.2);
}

.sigWrapper {
  display: flex;
  align-items: center;
}

.buttonLogout {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.logoutText {
  display: inline-block;
  text-shadow: 1px 1px 2px black, 0 0 1em #115e95, 0 0 0.2em #1f9596;
  color: var(--white-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* position: relative; */
  cursor: pointer;
  text-decoration: none;
}

.logoutText:hover,
.logoutText:focus {
  text-shadow: 3px 3px 10px rgb(160, 9, 9), 0 0 1em#8b0000,
    0 0 0.2em rgb(160, 8, 8);
  transform: scale(1.2);
  color: var(--red-color);
}
