.container {
  display: flex;
  width: 100%;
  /* padding: 0 16px; */
}

.header {
  width: 100%;
  position: relative;
  /* max-width: 1400px; */
  margin-left: auto;
  margin-right: auto;
  align-items: flex-end;
  display: flex;
  background: linear-gradient(135deg, #181a1d, #2e8894);
  padding: 20px 10px;
  justify-content: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom: 0.5px solid var(--gold-color);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.6);
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .header {
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
  }
}
@media screen and (min-width: 1025px) {
  .header {
    padding: 10px 70px;
    justify-content: space-between;
  }
}

.sigWrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.buttonLogout {
  display: flex;
  align-items: center;
  padding-left: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
@media screen and (min-width: 425px) {
  .buttonLogout {
    padding-left: 80px;
  }
}
@media screen and (min-width: 768px) {
  .buttonLogout {
    padding-left: 10px;
  }
}

/* .logoutText {
  display: inline-block;
  text-shadow: 1px 1px 2px black, 0 0 1em #115e95, 0 0 0.2em #1f9596;
  color: var(--white-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  text-decoration: none;
} */
.logOutIcon {
  width: 25px;
  height: 25px;
  cursor: pointer;
  object-fit: contain;
}

.logOutIcon :hover,
.logOutIcon :focus {
  transform: scale(1.2);
}
