/* .pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px 0 0;
}

.flipWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6px;
}

@media screen and (min-width: 768px) {
  .flipWrapper {
    gap: 8px;
  }
}
.pagesWrapper {
  display: flex;
  gap: 10px;
  margin: 0 11px;
}
@media screen and (min-width: 768px) {
  .pagesWrapper {
    margin: 0 24px;
  }
}
.button,
.buttonFlip,
.ellipsis {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border: 1px solid rgba(38, 38, 38, 0.05);
  border-radius: 50%;
  background: none;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: var(--black-color);
}
@media screen and (max-width: 340px) {
  .button,
  .buttonFlip,
  .ellipsis {
    width: 30px;
    height: 30px;
  }
}
@media screen and (min-width: 768px) {
  .button,
  .buttonFlip,
  .ellipsis {
    width: 44px;
    height: 44px;
    font-size: 18px;
  }
}
.button:hover,
.active {
  background-color: yellow;
  color: red;
  border: none;
} */
