.formContainer {
  width: 100%;
  max-width: 500px;
  max-height: 490px;
  overflow-y: auto;
  margin: 0px auto;
  padding: 20px;
  background: var(--form-gradient-color);
  border: 1px solid var(--gold-color);
  border-radius: 20px;
  /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); */
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: var(--button-bgr-color);
}

.label {
  display: block;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 5px;
  color: var(--gold-color);
}

.input,
.textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid var(--gold-color);
  border-radius: 4px;
  font-size: 1rem;
  outline: none;
}

.input:focus,
.textarea:focus {
  border-color: var(--gold-color);
  /* box-shadow: 0px 0px 4px rgba(0, 123, 255, 0.5); */
}

.textarea {
  height: 100px;
  resize: none;
}

.message {
  font-size: 1rem;
  color: var(--accent-color);
  text-align: center;
  margin-top: 10px;
}
.submitBtn {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  font-weight: bold;
  color: var(--gold-color);
  background: var(--button-bgr-color);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  border: 1px solid var(--gold-color);
  transition: background-color 0.3s ease;
}
.submitBtn:hover,
.submitBtn:focus {
  background-color: var(--button-hover-color);
  color: var(--accent-color);
  border: 1px solid var(--hover-color);
  box-shadow: -15px 0 20px -5px rgba(122, 122, 122, 0.25),
    15px 0 20px -5px rgba(122, 122, 122, 0.25),
    0 15px 20px -5px rgba(122, 122, 122, 0.25);
}
