.formContainer {
  width: 100%;
  max-width: 500px;
  max-height: 490px;
  overflow-y: auto;
  margin: 0px auto;
  padding: 20px;
  background-color: var(--white-color);
  border: 1px solid var(--hover-color);
  border-radius: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: var(--accent--color);
}

.label {
  display: block;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 5px;
  color: var(--gray-color);
}

.input,
.textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  outline: none;
}

.input:focus,
.textarea:focus {
  border-color: var(--accent-color);
  box-shadow: 0px 0px 4px rgba(0, 123, 255, 0.5);
}

.textarea {
  height: 100px;
  resize: none;
}

.message {
  font-size: 1rem;
  color: var(--accent-color);
  text-align: center;
  margin-top: 10px;
}
.submitBtn {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  font-weight: bold;
  color: var(--hover-color);
  background: #1f949b;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  border: 1px solid var(--hover-color);
  transition: background-color 0.3s ease;
}
.submitBtn:hover {
  color: var(--gold-color);
  background: linear-gradient(180deg, var(--accent--color), var(--hover-color));
}
