.resultPage {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 10px 20px 10px;
  height: 100vh;
  width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .resultPage {
    padding: 20px 40px 40px 40px;
  }
}
@media screen and (min-width: 1025px) {
  .createPage {
    padding: 15px 50px 15px 50px;
  }
}

.containerResult {
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  align-items: center;
  height: 100vh;
  width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .containerResult {
    padding: 20px 20px 50px 20px;
  }
}
@media screen and (min-width: 1025px) {
  .containerResult {
    padding: 20px 40px 60px 40px;
  }
}
.title {
  font-size: 24px;
  font-weight: 700;
  background-image: var(--title-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}
.box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.descriptionMain {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  font-size: 16px;
  font-weight: 500;
  color: var(--gold-color);
  margin-right: 30px;
}
.inlineBlock {
  display: inline-flex;
  align-items: center;
  padding-top: 5px;
  gap: 8px;
}
.description {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  font-size: 16px;
  font-weight: 500;
  color: var(--gold-color);
  gap: 5px;

  margin-left: 15px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .title {
    font-size: 28px;
    font-weight: 600;
    color: var(--gold-color);
  }
  .descriptionMain,
  .description {
    font-size: 20px;
    font-weight: 500;
    gap: 6px;

    margin-left: 0;
  }
}
@media screen and (min-width: 1025px) {
  .title {
    font-size: 28px;
    font-weight: 700;
    color: var(--gold-color);
  }
  .descriptionMain,
  .description {
    font-size: 24px;
    font-weight: 600;
    gap: 8px;
    margin-left: 0;
  }
}
.errorMessage {
  font-size: 16px;
  color: var(--red-color);
}
.buttonGroup {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .buttonGroup {
    gap: 50px;
  }
}
.bonusButton,
.btnAgain {
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 20px;
  border-radius: 100px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
  white-space: nowrap;
  background: linear-gradient(180deg, var(--accent--color), var(--hover-color));
  color: var(--gold-color);
  border: 2px solid var(--gold-color);
  transition: background-color var(--transition), color var(--transition),
    box-shadow 0.3s ease;
}

.bonusButton:hover,
.bonusButton:focus,
.buttonNext:hover,
.buttonNext:focus {
  border: 2px solid var(--hover-color);
  box-shadow: 0 0 10px rgba(76, 241, 241, 0.6),
    0 4px 15px rgba(76, 241, 241, 0.4);
  color: var(--hover-color);
}

.viewPlayersButton {
  width: 100%;
  max-width: 500px;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  word-wrap: break-word;
  background: linear-gradient(180deg, var(--accent--color), var(--hover-color));
  color: var(--gold-color);
  border: 2px solid var(--gold-color);
  transition: background-color var(--transition), color var(--transition);
  border-radius: 200px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.viewPlayersButton:hover,
.viewPlayersButton:focus {
  border: 2px solid var(--hover-color);
  box-shadow: -15px 0 20px -5px rgba(76, 241, 241, 0.7),
    15px 0 20px -5px rgba(76, 241, 241, 0.7),
    0 15px 20px -5px rgba(76, 241, 241, 0.7);
  color: var(--hover-color);
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .bonusButton,
  .btnAgain {
    width: 150px;
    padding: 5px 20px;
    font-size: 18px;
  }
  .viewPlayersButton {
    font-size: 18px;
  }
}
@media screen and (min-width: 1025px) {
  .viewPlayersButton {
    font-size: 22px;
  }
  .bonusButton,
  .btnAgain {
    width: 160px;
    padding: 5px 25px;
    font-size: 20px;
  }
}
