.containerResult {
  display: flex;
  padding: 30px 10px;
  flex-direction: column;
  border: 1px solid #00eeff;
  gap: 120px;
  justify-content: space-between;
  align-items: start;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: 95% 50%;
  background-repeat: no-repeat;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .containerResult {
    display: flex;
    flex-direction: column;
    border: 1px solid #00eeff;
    padding: 50px 40px 20px 30px;
    background-size: cover;
    background-position: 65% 30%;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 1025px) {
  .containerResult {
    padding: 80px 50px 22px 22px;
    border: 1px solid #00eeff;
    gap: 100px;
    justify-content: space-between;
    align-items: start;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 30%;
  }
}
