.resultPage {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 10px 20px 10px;
  height: 100vh;
  width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .resultPage {
    padding: 20px 40px 40px 40px;
  }
}
@media screen and (min-width: 1025px) {
  .createPage {
    padding: 15px 50px 15px 50px;
  }
}

.containerResult {
  display: flex;
  flex-direction: column;
  padding: 30px 10px;
  justify-content: center;
  align-items: center;
  border: 1px solid #00eeff;
  height: 100vh;
  width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .containerResult {
    padding: 50px 20px 50px 20px;
  }
}
@media screen and (min-width: 1025px) {
  .containerResult {
    padding: 80px 40px 80px 42px;
    border: 1px solid #00eeff;
  }
}
.title {
  font-size: 24;
  font-weight: 700;
  color: red;
}
.box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.description {
  font-weight: 500;
  font-size: 16px;
  color: blue;
}
.errorMessage {
  font-size: 24;
  font-weight: 700;
  color: red;
}
.goBackButton {
  background-color: red;
  border-radius: 200px;
  width: 200px;
}
.btnAgain {
  background-color: red;
  border-radius: 200px;
  width: 200px;
}
