.pageGame {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 0px;
}

@media screen and (min-width: 1025px) {
  .pageGame {
    padding: 20px 50px;
  }
}
.loading {
  font-size: 18px;
  font-weight: 500;
  color: var(--gold-color);
}
.titleWithLogo {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: center;
  flex-wrap: wrap;
}
.svgLayer {
  margin-bottom: 10px;
}
.pageTitle {
  font-size: 28px;
  font-weight: 700;
  color: var(--gold-color);
  margin-bottom: 10px;
  text-align: center;
  background-image: var(--title-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}
.questionCount {
  color: var(--super-light-color);
}
.containerGame {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  min-height: 500px;
  padding: 5px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .containerGame {
    padding: 0px 40px 40px 40px;
  }
}
@media screen and (min-width: 1025px) {
  .containerGame {
    padding: 15px 50px 15px 50px;
  }
}
.titleError {
  font-size: 16px;
  font-weight: 500;
  color: var(--hover-color);
}
@media screen and (min-width: 768px) {
  .titleError {
    font-size: 24px;
  }
}
