.containerGame {
  display: flex;
  flex-direction: column;
  padding: 30px 10px;
  align-items: center;
  justify-content: center;
  min-height: 500px;
  /* padding: 50px 20px 50px 20px; */
  width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .containerGame {
    padding: 50px 30px 50px 30px;
  }
}
@media screen and (min-width: 1025px) {
  .containerGame {
    padding: 80px 50px 80px 50px;
  }
}
.titleError {
  font-size: 16px;
  font-weight: 500;
  color: var(--hover-color);
}
@media screen and (min-width: 768px) {
  .titleError {
    font-size: 24px;
  }
}
