.pageGame {
  display: flex;
  padding: 10px;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .pageGame {
    padding: 40px;
  }
}
@media screen and (min-width: 1025px) {
  .pageGame {
    padding: 50px;
  }
}
.containerCategories {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
  max-height: 600px;
  width: 100%;
}
@media (min-width: 375px) and (max-width: 767px) {
  .containerCategories {
    padding: 10px 20px 10px 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .containerCategories {
    margin-top: 10px;
    padding: 0px 40px 20px 30px;
  }
}
@media screen and (min-width: 1025px) {
  .containerCategories {
    padding: 0px 50px 22px 22px;
  }
}
.title {
  font-size: 20px;
  font-weight: 500;
  color: var(--gold-color);
}
@media screen and (min-width: 768px) {
  .title {
    font-weight: 600;
    font-size: 24px;
  }
}
@media screen and (min-width: 1025px) {
  .title {
    font-size: 32px;
    font-weight: 700;
  }
}
.gameContainerQuiz {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  border-radius: 10px;
  min-width: 320px;
  max-height: 600px;
  padding: 20px 10px;
  border: 1px solid var(--gold-color);
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.6),
    -8px -8px 16px rgba(255, 255, 255, 0.08);
  background: linear-gradient(185deg, #181a1d, #2e8894);
}
@media (min-width: 375px) and (max-width: 767px) {
  .gameContainerQuiz {
    max-height: 500px;
    gap: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .gameContainerQuiz {
    gap: 40px;
    min-height: 380px;
    border-radius: 20px;
  }
}
@media screen and (min-width: 1025px) {
  .gameContainerQuiz {
    width: 60%;
    height: 95%;
    gap: 50px;
    border-radius: 20px;
  }
}

.categoryButtons {
  display: grid;
  max-height: 600px;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: auto;
  gap: 5px;
  justify-content: center;
}
@media (min-width: 375px) {
  .categoryButtons {
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .categoryButtons {
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1025px) {
  .categoryButtons {
    row-gap: 40px;
    column-gap: 50px;
    grid-template-columns: repeat(3, 1fr);
  }
}

.buttonWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-top: 10px;
}

@media screen and (min-width: 768px) {
  .buttonWrapper {
    gap: 30px;
    padding-bottom: 30px;
  }
}

@media screen and (min-width: 1025px) {
  .buttonWrapper {
    justify-content: center;
    gap: 40px;
  }
}
.buttonStart {
  width: 120px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  flex: none;
  order: 1;
  flex-grow: 0;
  border-radius: 200px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  white-space: nowrap;
  color: var(--gold-color);
  background: linear-gradient(180deg, var(--accent--color), var(--hover-color));
  border: 2px solid var(--gold-color);
  transition: background-color var(--transition), color var(--transition);
}

.buttonStart:hover,
.buttonStart:focus {
  border: 2px solid var(--hover-color);
  box-shadow: -15px 0 20px -5px rgba(76, 241, 241, 0.7),
    15px 0 20px -5px rgba(76, 241, 241, 0.7),
    0 15px 20px -5px rgba(76, 241, 241, 0.7);
  color: var(--accent-color);
}
@media (min-width: 375px) and (max-width: 767px) {
  .buttonStart {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .buttonStart {
    width: 150px;
    height: 46px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 40px;
    flex: none;
    order: 1;
    flex-grow: 0;
    line-height: 1.5;
  }
}
@media screen and (min-width: 1025px) {
  .buttonStart {
    width: 173px;
    height: 56px;
    display: flex;
    margin-left: 50px;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    padding: 15px 60px;
    flex: none;
    order: 1;
    flex-grow: 0;
  }
}
