.participPage {
  width: 100%;
  height: 100%;
  padding: 50px;
}

.title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.2;
  font-family: cursive;
  letter-spacing: -0.02em;
  margin-bottom: 15px;
  color: #32dedf;
}

.wrapperCard {
  padding: 20px;
}

.error {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.2;
  font-family: cursive;
  letter-spacing: -0.02em;
  color: var(--red-color);
  margin-bottom: 15px;
}
.backButton {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4f46e5;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.backButton:hover,
.backButton:focus {
  background-color: #4338ca;
}
