.backdrop {
  position: fixed;
  inset: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(20, 20, 20, 0.7));
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.4s ease forwards;
}

.modal {
  background: linear-gradient(185deg, #181a1d, #2e8894);
  border: 1px solid var(--gold-color);
  border-radius: 14px;
  padding: 30px 20px;
  max-height: 520px;
  max-width: 520px;
  width: 90%;
  color: var(--gold-color);
  text-align: center;
  animation: popUp 0.4s ease forwards;
}
@media screen and (min-width: 768px) {
  .modal {
    padding: 50px 20px;
  }
}
@media screen and (min-width: 1025px) {
  .modal {
    padding: 70px 20px;
  }
}
.message {
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 24px;
}

.actions {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.confirm,
.cancel {
  font-size: 16px;
  padding: 10px 24px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-weight: 600;
}

.confirm {
  background-color: var(--red-color);
  color: var(--gold-color);
  border: 2px solid var(--gold-color);
}

.cancel {
  background-color: transparent;
  border: 2px solid var(--gold-color);
  color: var(--gold-color);
}

.confirm:hover,
.confirm:focus,
.cancel:hover,
.cancel:focus {
  border: 2px solid var(--hover-color);
  box-shadow: -15px 0 20px -5px rgba(76, 241, 241, 0.7),
    15px 0 20px -5px rgba(76, 241, 241, 0.7),
    0 15px 20px -5px rgba(76, 241, 241, 0.7);
  color: var(--hover-color);
}
@keyframes fadeIn {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
  to {
    background-color: rgba(0, 0, 0, 0.6);
  }
}

@keyframes popUp {
  0% {
    transform: translateY(20px) scale(0.95);
    opacity: 0;
  }
  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}
