.container {
  display: flex;
  flex-direction: column;
  height: 75vh;
  overflow-y: auto;
  max-width: 550px;
  margin: 0 auto;
  margin-top: 20px;
  margin-top: 10px;
  padding: 30px 50px;
  border: 1px solid gray;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: var(--box-shadow);
}

.title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  margin-bottom: 15px;
  color: var(--accent--color);
}

.text {
  font-size: 16px;
  line-height: 1.375;
  color: var(--black-color, black);
  margin-bottom: 40px;
}

.form {
  display: flex;
  flex-direction: column;
}
.form > :first-child {
  margin-bottom: 20px;
}
.passwordWrapper {
  position: relative;
  margin-bottom: 40px;
}

.input {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.375;
  color: var(--black-color, black);
  border: 1px solid rgba(18, 20, 23, 0.1);
  border-radius: 12px;
  padding: 16px 18px;
  height: 54px;
  width: 100%;
}
.submitBtn {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  font-weight: bold;
  color: var(--hover-color);
  background: #1f949b;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  border: 1px solid var(--hover-color);
  transition: background-color 0.3s ease;
}
.submitBtn:hover {
  color: var(--gold-color);
  background: linear-gradient(180deg, var(--accent--color), var(--hover-color));
}

.submitBtn .emailWrapper {
  margin-bottom: 18px;
  position: relative;
}

.eyeBtn {
  position: absolute;
  top: 30px;
  right: 17px;
}

.errorText {
  position: absolute;
  left: 0;
  bottom: -18px;
  color: var(--red-color);
}
