.participantList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.participantCard {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  align-items: center;
  padding: 10px 25px;
  border-radius: 12px;
  border: 1px solid var(--gold-color);
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.6),
    -8px -8px 16px rgba(255, 255, 255, 0.08);
  background: linear-gradient(185deg, #181a1d, #2e8894);
}
.participantAvatar {
  cursor: pointer;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

@media screen and (min-width: 1025px) {
  .participantAvatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
  }
}
.participantInfo {
  text-align: center;
}

.participantName {
  font-size: 20px;
  font-weight: 500;
  color: var(--gold-color);
}

.participantQuestions {
  font-size: 19px;
  color: var(--hover-color);
}
.participantCategory {
  font-size: 19px;
  color: var(--hover-color);
}
.participantScore {
  font-size: 19px;
  color: var(--hover-color);
}
