.container {
  display: flex;
  flex-direction: column;
  max-width: 550px;
  height: 80vh;
  overflow-y: auto;
  margin: 0 auto;
  margin-top: 20px;
  margin-top: 10px;
  padding: 50px 60px;
  border: 1px solid var(--gray-color);
  border-radius: 8px;
  background-color: var(--white-color);
  box-shadow: var(--box-shadow);
}

.title {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  margin-bottom: 30px;
  color: var(--accent--color);
  text-shadow: 1px 1px 0 #121417, 2px 2px 0#32dedf, 3px 3px 0 #115e95,
    4px 4px 0 #121417, 5px 5px 0 #115e95, 6px 6px 0 #808080, 7px 7px 0 #ffc841,
    8px 8px 7px #4f4a4a;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.375;
  color: var(--black-color);
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
}

.passwordWrapper {
  position: relative;
  margin-bottom: 40px;
}

.input {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.375;
  color: var(--black-color);
  border: 1px solid rgba(18, 20, 23, 0.1);
  border-radius: 12px;
  padding: 16px 18px;
  margin-bottom: 40px;
  /* width: 268px; */
  height: 54px;
  width: 100%;
}
.text {
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
}

.link {
  color: #007bff;
  cursor: pointer;
  text-decoration: underline;
}

.link:hover {
  color: #0056b3;
  text-decoration: none;
}

.buttonSign {
  border-radius: 12px;
  width: 100%;
  height: 60px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.55556;
  color: var(--white-color);
  cursor: pointer;
  border: 1px solid var(--hover-color);
  background-color: var(--accent--color);
  box-shadow: var(--box-shadow);
  transition: background-color var(--transition), color var(--transition);
}
.buttonSign:hover,
.buttonSign:focus {
  border: 1px solid var(--accent-color);
  box-shadow: 0 0 15px 5px rgba(93, 25, 106, 0.75);
  background-color: var(--hover-color);
  color: var(--black-color);
}
.emailWrapper {
  margin-bottom: 18px;
  position: relative;
}

.eyeButton {
  position: absolute;
  top: 30px;
  right: 17px;
}

.errorText {
  position: absolute;
  left: 0;
  bottom: -18px;
  color: var(--red-color);
}
