.container {
  display: flex;
  flex-direction: column;
  max-width: 550px;
  height: 80vh;
  overflow-y: auto;
  margin: 0 auto;
  margin-top: 20px;
  margin-top: 10px;
  padding: 50px 60px;
  border: 1px solid var(--gray-color);
  border-radius: 8px;
  background-color: var(--white-color);
  box-shadow: var(--box-shadow);
}

.title {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  margin-bottom: 30px;
  color: var(--accent--color);
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.375;
  color: var(--black-color);
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
}

.passwordWrapper {
  position: relative;
  margin-bottom: 40px;
}

.input {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.375;
  color: var(--black-color);
  border: 1px solid rgba(18, 20, 23, 0.1);
  border-radius: 12px;
  padding: 16px 18px;
  margin-bottom: 40px;
  /* width: 268px; */
  height: 54px;
  width: 100%;
}
.text {
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
}

.link {
  color: #007bff;
  cursor: pointer;
  text-decoration: underline;
}

.link:hover {
  color: #0056b3;
  text-decoration: none;
}
.buttonSign {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  font-weight: bold;
  color: var(--hover-color);
  background: #1f949b;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  border: 1px solid var(--hover-color);
  transition: background-color 0.3s ease;
}
.buttonSign:hover {
  color: var(--gold-color);
  background: linear-gradient(180deg, var(--accent--color), var(--hover-color));
}

.emailWrapper {
  margin-bottom: 18px;
  position: relative;
}

.eyeButton {
  position: absolute;
  top: 30px;
  right: 17px;
}

.errorText {
  position: absolute;
  left: 0;
  bottom: -18px;
  color: var(--red-color);
}
