:root {
  --accent--color: #1f949b;
  --secondary-color: #1aabae;
  --accent-light-color: #32dedf;
  --hover-color: #0beff4;
  --gold-color: #dcc14f;
  --gray-color: #808080;
  --red-color: #ff0000;
  --black-color: #121417;
  --white-color: #fbf9fa;
  --transition: 0.5s ease-in-out;
  --box-shadow: -10px 0 10px -10px rgba(0, 0, 0, 0.5),
    10px 0 10px -10px rgba(215, 99, 99, 0.5),
    0 10px 10px -10px rgba(0, 0, 0, 0.5);
  --background-color-transition: var(--background-color);
}

body {
  font-family: 'Roboto', sans-serif;
  /* height: 100vh; */
  font-weight: 400;
  font-style: normal;
  background-color: #1f949b;
  /* background-image: url('../../assets/images/start.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  /* transition: background-color var(--transition), color var(--transition); */

  /* background: linear-gradient(180deg, var(--accent--color), var(--hover-color)); */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
li,
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
}
button {
  border: none;
  background-color: inherit;
  cursor: pointer;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
