:root {
  /* --accent-color: #2e8894; */
  --accent-color: #84d8db;
  --secondary-color: #1aabae;
  --accent-light-color: #84d8db;
  --hover-color: #56e1e4;
  --gold-color: #c8b26d;
  --gray-color: #7a7a7a;
  --dark-color: #1a1c20;
  --red-color: #d45959;
  --white-color: #f7f6f8;
  --black-color: #181a1d;
  --button-bgr-color: #2e8894;
  --button-hover-color: #328fa0;
  --form-color: rgba(247, 246, 248, 0.85);
  --form-gradient-color: linear-gradient(180deg, #b8e4e4, #eaf9f9);
  --linear-gradient-color: linear-gradient(135deg, #181a1d, #2e8894);
  /* --accent--color: #1f949b; */
  /* --secondary-color: #1aabae; */
  /* --accent-light-color: #32dedf; */
  --box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  --transition: 0.5s ease-in-out;
  /* --box-shadow: -10px 0 10px -10px rgba(0, 0, 0, 0.5),
    10px 0 10px -10px rgba(215, 99, 99, 0.5),
    0 10px 10px -10px rgba(0, 0, 0, 0.5); */
  --background-color-transition: var(--background-color);
}

body {
  font-family: 'Roboto', sans-serif;
  /* height: 100vh; */
  font-weight: 400;
  font-style: normal;
  /* background: radial-gradient(circle at 40% 30%, #328fa0 0%, #181a1d 100%); */
  background: var(--linear-gradient-color);
  /* background-image: url('../../assets/images/start.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
li,
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
}
button {
  border: none;
  background-color: inherit;
  cursor: pointer;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
