/* .containerHome {
  position: relative;
  padding: 0;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
} */
.containerHome {
  display: flex;
  height: 100vh;
  padding: 30px 10px;
  flex-direction: column;
  gap: 120px;
  justify-content: space-between;
  align-items: start;
  height: 100vh;
  width: 100%;
  background-image: url('../../assets/images/home.jpg');
  background-size: cover;
  background-position: 95% 50%;
  background-repeat: no-repeat;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .containerHome {
    display: flex;
    flex-direction: column;
    padding: 50px 40px 20px 30px;
    background-image: url('../../assets/images/home.jpg');
    background-size: cover;
    background-position: 65% 30%;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 1025px) {
  .containerHome {
    padding: 80px 50px 22px 22px;
    gap: 100px;
    justify-content: space-between;
    align-items: start;
    background-image: url('../../assets/images/home.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 30%;
  }
}

.buttonWrapper {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  bottom: 85px;
  left: 42%;
  transform: translateX(-50%);
}
@media screen and (min-width: 768px) {
  .buttonWrapper {
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
  }
}
.buttonHome {
  width: 120px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  flex: none;
  order: 1;
  flex-grow: 0;
  border-radius: 200px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  white-space: nowrap;
  background: linear-gradient(180deg, var(--accent--color), var(--hover-color));
  /* background: #1f949b; */
  color: var(--hover-color);
  border: 2px solid var(--hover-color);
  transition: background-color var(--transition), color var(--transition);
}

.buttonHome:hover,
.buttonHome:focus {
  box-shadow: -15px 0 20px -5px rgba(76, 241, 241, 0.7),
    15px 0 20px -5px rgba(76, 241, 241, 0.7),
    0 15px 20px -5px rgba(76, 241, 241, 0.7);
  color: var(--gold-color);
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .buttonHome {
    width: 150px;
    height: 46px;
    display: flex;
    margin-left: 46px;
    justify-content: center;
    align-items: center;
    padding: 12px 40px;
    flex: none;
    order: 1;
    flex-grow: 0;
    font-size: 16px;
    line-height: 1.5;
  }
}
@media screen and (min-width: 1025px) {
  .buttonHome {
    width: 173px;
    height: 56px;
    display: flex;
    margin-left: 50px;
    justify-content: center;
    align-items: center;
    padding: 15px 60px;
    flex: none;
    order: 1;
    flex-grow: 0;
  }
  .buttonMargin {
    margin-left: 50px;
  }
}
