.containerPage {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 50px 5px 20px 5px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .containerPage {
    padding: 5px;
  }
}

@media screen and (min-width: 1025px) {
  .containerPage {
    padding: 10px 5px;
  }
}

.containerHome {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  padding: 30px 15px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
  height: auto;
}

@media screen and (min-width: 375px) and (max-width: 425px) {
  .containerHome {
    padding: 50px 25px;
  }
}

@media screen and (min-width: 768px) {
  .containerHome {
    padding: 20px 50px 60px 50px;
    gap: 15px;
    max-width: 700px;
  }
}

@media screen and (min-width: 1025px) {
  .containerHome {
    padding: 10px 200px 20px 200px;
    max-width: 1100px;
    gap: 10px;
  }
}

@media screen and (min-width: 1400px) {
  .containerHome {
    padding: 10px 210px 10px 210px;
    max-width: 1200px;
  }
}

.introBlock {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  width: 100%;
}
@media screen and (min-width: 1025px) {
  .introBlock {
    justify-content: flex-start;
  }
}
.title {
  font-size: 28px;
  font-weight: bolder;
  background-image: var(--title-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}
@media screen and (min-width: 375px) {
  .title {
    font-size: 32px;
  }
}
@media screen and (min-width: 425px) {
  .title {
    font-size: 40px;
  }
}

.titleAndButtonWrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  max-width: 800px;
  gap: 20px;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .titleAndButtonWrapper {
    justify-content: space-between;
    gap: 0px;
  }
}

.subtitle {
  font-size: 18px;
  font-weight: 500;
  color: var(--gold-color);
  text-align: center;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .subtitle {
    display: none;
  }
}

@media screen and (min-width: 1025px) {
  .title {
    font-size: 50px;
  }
}

.buttonHome {
  width: 90px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  border-radius: 200px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  white-space: nowrap;
  background: linear-gradient(180deg, var(--accent--color), var(--hover-color));
  color: var(--gold-color);
  border: 2px solid var(--gold-color);
  transition: background-color var(--transition), color var(--transition);
}

.buttonHome:hover,
.buttonHome:focus {
  border: 2px solid var(--hover-color);
  box-shadow: -15px 0 20px -5px rgba(76, 241, 241, 0.7),
    15px 0 20px -5px rgba(76, 241, 241, 0.7),
    0 15px 20px -5px rgba(76, 241, 241, 0.7);
  color: var(--hover-color);
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .buttonHome {
    width: 120px;
    height: 42px;
    padding: 15px 20px;
    font-size: 20px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 1025px) {
  .buttonHome {
    width: 130px;
    height: 46px;
    font-size: 22px;
    padding: 15px 20px;
  }
}

.cubeBlock {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
