.pageNotFound {
  display: flex;
  /* justify-content: center;  */
  align-items: center;
  height: 100vh;
  width: 100%;
  padding: 20px 10px 20px 10px;
  box-sizing: border-box;
  flex-direction: column;
  overflow: hidden;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .pageNotFound {
    padding: 20px 40px;
  }
}
@media screen and (min-width: 1025px) {
  .pageNotFound {
    padding: 20px 50px;
  }
}

.NotFoundQuiz {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
  border-radius: 10px;
  min-width: 290px;
  height: 600px;
  padding: 40px 20px 10px 20px;
  border: 1px solid var(--gold-color);
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.6),
    -8px -8px 16px rgba(255, 255, 255, 0.08);
  background: linear-gradient(185deg, #181a1d, #2e8894);
}

@media (min-width: 375px) and (max-width: 768px) {
  .NotFoundQuiz {
    padding: 60px 30px;
    max-height: 580px;
    min-width: 350px;
    gap: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .NotFoundQuiz {
    gap: 40px;
    max-width: 550px;
    height: 500px;
    padding: 10px 40px 10px 40px;
    border-radius: 20px;
  }
}
@media screen and (min-width: 1025px) {
  .NotFoundQuiz {
    max-width: 800px;
    padding: 30px;
    height: 500px;
    gap: 20px;
  }
}

.notFound {
  font-size: 30px;
  font-weight: 700;
  color: var(--gold-color);
}
@media screen and (min-width: 768px) {
  .notFound {
    font-size: 48px;
    font-weight: 900;
  }
}
@media screen and (min-width: 1025px) {
  .notFound {
    font-size: 56px;
  }
}
.btnGo {
  width: 120px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  flex: none;
  order: 1;
  flex-grow: 0;
  border-radius: 200px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  white-space: nowrap;
  color: var(--gold-color);
  background: linear-gradient(180deg, var(--accent--color), var(--hover-color));
  border: 2px solid var(--gold-color);
  transition: background-color var(--transition), color var(--transition);
}

.btnGo:hover,
.btnGo:focus {
  border: 2px solid var(--hover-color);
  box-shadow: -15px 0 20px -5px rgba(76, 241, 241, 0.7),
    15px 0 20px -5px rgba(76, 241, 241, 0.7),
    0 15px 20px -5px rgba(76, 241, 241, 0.7);
  color: var(--accent-color);
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .btnGo {
    width: 150px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 40px;
    flex: none;
    order: 1;
    flex-grow: 0;
    font-size: 16px;
    line-height: 1.5;
  }
}
@media screen and (min-width: 1025px) {
  .btnGo {
    width: 173px;
    height: 56px;
    display: flex;
    margin-left: 50px; /* Це можливо доведеться прибрати або скоригувати, якщо воно заважає центруванню */
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 15px 60px;
    flex: none;
    order: 1;
    flex-grow: 0;
  }
}
