.container {
  position: relative;
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.btnGo {
  width: 120px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  flex: none;
  order: 1;
  flex-grow: 0;
  border-radius: 200px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  white-space: nowrap;
  color: var(--gold-color);
  background: linear-gradient(180deg, var(--accent--color), var(--hover-color));
  border: 2px solid var(--gold-color);
  transition: background-color var(--transition), color var(--transition);
}

.btnGo:hover,
.btnGo:focus {
  border: 2px solid var(--hover-color);
  box-shadow: -15px 0 20px -5px rgba(76, 241, 241, 0.7),
    15px 0 20px -5px rgba(76, 241, 241, 0.7),
    0 15px 20px -5px rgba(76, 241, 241, 0.7);
  color: var(--accent-color);
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .btnGo {
    width: 150px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 40px;
    flex: none;
    order: 1;
    flex-grow: 0;
    font-size: 16px;
    line-height: 1.5;
  }
}
@media screen and (min-width: 1025px) {
  .btnGo {
    width: 173px;
    height: 56px;
    display: flex;
    margin-left: 50px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 15px 60px;
    flex: none;
    order: 1;
    flex-grow: 0;
  }
}
